<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Student App</title>
   
    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/theme.css" rel="stylesheet">

</head>
<body data-ng-app="studentApp">
    @RenderBody()
<!-- jQuery -->
<script src="Scripts/jquery-1.9.1.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="Scripts/bootstrap.js"></script>
<!-- Underscore -->
<script src="Scripts/underscore.js"></script>

<script src="js/script.js"></script>


<!-- Angular -->
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/angular-animate.js"></script>
<script src="Scripts/angular-ui/ui-utils.js"></script>
<script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>

<script src="Scripts/application/index.js"></script>
<script src="Scripts/application/Student/index.js"></script>
<script src="Scripts/application/Student/controller/index.js"></script>
<script src="Scripts/application/Student/model/index.js"></script>
<script src="Scripts/application/Student/controller/students.js"></script>
<script src="Scripts/application/Student/model/student.js"></script>
<script src="Scripts/application/student/controller/StudentCreate.js"></script>
 <script src="Scripts/application/student/controller/studentView.js"></script>
 <script src="Scripts/application/student/controller/studentEdit.js"></script>

</body>
</html>
