<div class="contact-wrap">
    <nav class="contact-nav">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-book"></span> Students</a></li>
        </ul>
    </nav>
    <data-ng-view>
    </data-ng-view>
</div>